<title>添加编辑员工</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/channel/channel_addOrEdit.css" media="all">
</script>
<div class="admin_popup_box">
        <div class="layui-form" lay-filter="LAY-edit-employee-submit">
          <div class="scroll_content">
                <div class="layui-form-item">
                    <label class="layui-form-label item-must">员工账号</label>
                    <div class="layui-input-block ">
                        <script type="text/html" template>
                            <input type="text" name="{{ d.params.UserAccount==null ? 'UserAccount': ''}}"  maxlength="11" {{ d.params.UserAccount == null ? ' ' : 'disabled="disabled"' }}    value="{{ d.params.UserAccount||''}}"   required  lay-verify="{{ d.params.UserAccount==null ? 'UserAccount': ''}}" placeholder="请输入手机号作为账号" autocomplete="off" class="layui-input  {{ d.params.UserAccount == null ? ' ' : 'showColor' }}">
                        </script>
                    </div>
                </div>
                <div class="layui-form-item">
                        <label class="layui-form-label">账号密码</label>
                        <div class="layui-input-block ">
                            <script type="text/html" template>
                                <input type="hidden" name=passwords value="{{ d.params.UserPassword || '' }}">
                                <input type="text" name="UserPassword"  value="" maxlength="16" lay-verify="UserPassword" placeholder="{{ d.params.UserPassword==null ? '如果不填,则密码为888888': '如果不填则以原密码，填写则以新密码'}}" autocomplete="off" class="layui-input">
                        </script>
                    </div>
                </div>
                <div class="layui-form-item">
                        <label class="layui-form-label item-must">员工姓名</label>
                        <div class="layui-input-block">
                            <script type="text/html" template>
                                <input type="text" name="UserName"   value="{{ d.params.UserName||''}}"   required  lay-verify="UserName" placeholder="请输入员工姓名" autocomplete="off" class="layui-input">
                            </script>
                        </div>
                </div>
            </div>
            <div class="btn_area">
                <a href="javascript:" class="layui-btn layui-btn-cancel" onclick="layer.closeAll()">取消</a>
                <a href="javascript:" class="layui-btn" lay-submit lay-filter="LAY-EmployeeManage-add-submit">确定</a>
            </div>  
    </div>
</div>        

