<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect>
                <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                    <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                </a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a href="javascript:;" layadmin-event="refresh" title="刷新">
                    <i class="layui-icon layui-icon-refresh-3"></i>
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

            <!--  <li class="layui-nav-item" lay-unselect>
                <a lay-href="sysMsg/" layadmin-event="message">
                    <i class="layui-icon layui-icon-notice"></i>
                </a>
            </li> -->
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a href="javascript:;" layadmin-event="theme">
                    <i class="layui-icon layui-icon-theme"></i>
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a href="javascript:;" layadmin-event="note">
                    <i class="layui-icon layui-icon-note"></i>
                </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a href="javascript:;" layadmin-event="fullscreen">
                    <i class="layui-icon layui-icon-screen-full"></i>
                </a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <script type="text/html" template lay-done="layui.element.render('nav', 'layadmin-layout-right');">
                    <a href="javascript:;">
                        <cite>{{ layui.data('BlogAdmin').Model.UserNickName }}</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="user/resetPwd">修改密码</a></dd>
                        <hr>
                        <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
                    </dl>
                </script>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
            </li>
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
            </li>
        </ul>
    </div>

    <!-- 侧边菜单 -->
    <div id="TPL_layout"></div>
    <!--模板-->
    <script type="text/html" id="menu">
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="">
                    <span>{{ layui.setter.name || 'layuiAdmin' }}</span>
                </div>
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu">
                    {{# 
            var path =  layui.router().path
            ,pathURL = layui.admin.correctRouter(path.join('/'));
            
            layui.each(d, function(index, item){ 
              var hasChildren = typeof item.subMenuLst === 'object' && item.subMenuLst.length > 0
              ,classSelected = function(){
                var match = item.url.split(',').indexOf(path[0])>-1 || (index == 0 && !path[0]) 
                || (item.url && pathURL == layui.admin.correctRouter(item.url)) || item.spread;
                if(match){
                  return hasChildren ? 'layui-nav-itemed' : 'layui-this';
                }
                return '';
              }
              ,url = (item.url && typeof item.url === 'string') ? item.url : item.name;
          }}
                    <li data-name="{{ item.url || '' }}" data-jump="{{ item.url || '' }}"
                        class="layui-nav-item {{ classSelected() }}">
                        <a href="javascript:;" {{ hasChildren ? '' : 'lay-href="'+ url +'"' }}
                            lay-tips="{{ item.name }}" lay-direction="2">
                            <i class="layui-icon {{ item.ico }}"></i>
                            <cite>{{ item.name }}</cite>
                        </a>
                        {{# if(hasChildren){ }}
                        <dl class="layui-nav-child">
                            {{# layui.each(item.subMenuLst, function(index2, item2){ 
                  var hasChildren2 = typeof item2.subMenuLst == 'object' && item2.subMenuLst.length > 0
                  ,classSelected2 = function(){
                    var match = (path[0] == item.url && path[1] == item2.url) 
                    || (item2.url && pathURL == layui.admin.correctRouter(item2.url)) || item2.spread;
                    if(match){
                      return 'layui-this';
                    }
                    return '';
                  }
                  ,url2 = (item2.url && typeof item2.url === 'string') 
                    ? item2.url 
                  : [item.url, item2.url, ''].join('/');
                }}
                            <dd data-name="{{ item2.url || '' }}" data-jump="{{ item2.url || '' }}"
                                {{ classSelected2() ? ('class="'+ classSelected2() +'"') : '' }}>
                                <a href="javascript:;" lay-href="{{ url2 }}">{{ item2.name }}</a>
                            </dd>
                            {{# }); }}
                        </dl>
                        {{# } }}
                    </li>
                    {{# }); }}
                </ul>
                <div class="user_info">
                    {{ layui.data('BlogAdmin').Model.UserName }}
                    <ul class="list">
                        <li class="user">{{ layui.data('BlogAdmin').Model.UserAccount }}</li>
                        <li lay-href="user/resetPwd">修改密码</li>
                        <li layadmin-event="logout">退出</li>
                    </ul>
                </div>
            </div>
    </script>

    <!-- 页面标签 -->
    <script type="text/html" template lay-done="layui.element.render('nav', 'layadmin-pagetabs-nav')">
        {{# if(layui.setter.pageTabs){ }}
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="/"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>
        {{# } }}
    </script>

    <!-- 主体内容 -->
    <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show"></div>
    </div>

    <!-- 辅助元素，一般用于移动设备下遮罩 -->
    <div class="layadmin-body-shade" layadmin-event="shade"></div>

</div>
<script>
    layui.use(['laytpl', 'setter', 'GHM'], function () {
        var laytpl = layui.laytpl,
            GHM = layui.GHM,
            $ = layui.$,
            setter = layui.setter;

        /* menu */
        var data = layui.data(setter.tableName).UserMenu.UserMenuByLevel;

        var getTpl = menu.innerHTML,
            view = document.getElementById('TPL_layout');

        laytpl(getTpl).render(data, function (html) {
            view.innerHTML = html;
            // 更新渲染左侧菜单
            layui.element.render('nav', 'layadmin-system-side-menu');
        });

        $('#linkPT').click(function () {
            var linkWindow = window.open();
            GHM.post(GHM_config.url.GetJumpPtPar).then(function (res) {
                var data = res.Data;
                console.log(res);
                var date = new Date();
                date.setTime(date.getTime() + (8 * 24 * 60 * 60 * 1000));
                var expires = date.toUTCString();
                // 跳转平台，写入cookie
                document.cookie = 'ToKen=' + data.ToKen + '; domain=' +
                    GHM_PT_Domain + '; expires=' + expires;
                document.cookie = 'companyId=' + data.companyId + '; domain=' +
                    GHM_PT_Domain + '; expires=' + expires;
                document.cookie = 'storeId=' + data.storeId + '; domain=' +
                    GHM_PT_Domain + '; expires=' + expires;
                document.cookie = 'userType=' + data.userType + '; domain=' +
                    GHM_PT_Domain + '; expires=' + expires;

                linkWindow.location.href = GHM_PT_API;
            }).catch(function (error) {
                var msg = '';
                if (error.Msg) msg = error.Msg;
                else msg = '跳转失败，请重试！';
            });
        })
    })
</script>