<!-- 添加、编辑员工 -->
<title>添加编辑文章</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/blog/addOrEdit.css" media="all">
</script>
<div class="admin_popup_box">
    <div class="scroll_contain">
        <div class="layui-form">
            <div class="blog_contain">
                <div class="left">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">文章类型</label>
                            <div class="layui-input-block">
                                <select id='' class="layui-select" name="Type">
                                    <option value=""></option>
                                    <option value="">类型1</option>
                                    <option value="">类型2</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">原创地址</label>
                            <div class="layui-input-block">
                                <input type="text" style="width: 350px;" name="adname|l" placeholder="请输入"
                                    autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">是否原创</label>
                            <div class="layui-input-block">
                                <select id='' class="layui-select" name="Type">
                                    <option value="0">是</option>
                                    <option value="1">否</option>
                                </select>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
        <!-- 富文本 -->
        <div class="ue_contain">
            <script id="ueditor" name="ueditor" type="text/plain">

            </script>
        </div>
        <div class="btn_area" style="border:none">
            <a href="javascript:" class="layui-btn" lay-submit lay-filter="LAY-Blog-add">确定</a>
            <a href="javascript:" class="layui-btn layui-btn-cancel" onclick="layer.closeAll()">取消</a>
        </div>
    </div>

</div>


<script>
    // layui.use(['employeeEdit'], layui.factory('employeeEdit'));
    layui.use(['form', 'laydate'], function () {
        var form = layui.form
        laydate = layui.laydate;

        lay('.search_date').each(function () {
            laydate.render({
                elem: this,
                format: 'yyyy-MM-dd'
            })
        });

        form.render();


        form.on('submit(LAY-Blog-add)', function (data) {
            var field = data.field;
            var content = gethtml();

            $(".layui-table-box .layui-table-fixed").remove();
        });
    });
</script>