<div class="layui-card advert_box">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="LAY-Blog-search">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">文章类型</label>
                <div class="layui-input-block">
                    <select name="">
                        <option value=""></option>

                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block" style="width: 200px;">
                    <input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" for="CreateTime|be">添加时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="createtime|be" id="CreateTime|be" class="layui-input search_date" readonly
                        placeholder="请选择">
                </div>
                <div class="layui-form-mid">
                    -
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="createtime|se" id="CreateTime|se" class="layui-input search_date" readonly
                        placeholder="请选择">
                </div>
            </div>
        </div>
        <div class="layui-form-item">



        </div>
        <div class="layui-block layui_btn_area">
            <button class="layui-btn" lay-submit="" id='LAY-Blog-search' lay-filter="LAY-Blog-search">查询</button>

            <button class="layui-btn layui-btn-another layuiadmin-btn-Advert br5 bg-orange" data-type="add">新增</button>
            </script>
        </div>
    </div>
    <div class="layui-card-body">
        <!-- <ul class="g-states-tab states_tab">

            <li class="active" data-state="">全部</li>
            <li data-state="0">启用中</li>
            <li data-state="1">禁用中</li>
        </ul> -->
        <table id="LAY-Blog-manage" lay-filter="LAY-Blog-manage"></table>
    </div>

    <script type="text/html" id="temp_Blog_States">
        {{#  if(d.States ==  0 ){ }}
        <input type="checkbox" lay-filter="startstop2" value={{d.KID}} lay-skin="switch" lay-text="启用|禁用" checked>

        {{#  } else if(d.States ==  1) { }}
        <input type="checkbox" lay-filter="startstop2" value={{d.KID}} lay-skin="switch" lay-text="启用|禁用">
        {{#  } }}
    </script>
    <script type="text/html" id="table-Blog-operation">

        <a class="table_operate" lay-event="edit">【编辑】</a>
        <a class="table_operate" lay-event="del">【删除】</a> 
        <a class="table_operate" lay-event="log">【日志】</a>

    </script>
    <script type="text/html" id="table-Blog-blogimg">
        <div class="img" style='width:50px;height:40px;'>
            <img src={{ d.Blogimg }} alt="博客图片路径" class="show_img" />
        </div>

    </script>

</div>
<script>
    layui.use('blog', layui.factory('blog')).use(['admin', 'table', 'GHM'], function () {
        var $ = layui.$,
            admin = layui.admin,
            view = layui.view,
            table = layui.table,
            GHM = layui.GHM,
            form = layui.form;
        form.render(null, 'LAY-Blog-search');


    });
</script>